.navbarScroll.navbarDark {
    background-color: black;
}
/* hero background image */
.bgimage {
    height:100vh;
    background: url('C:\Users\thisd\OneDrive\Pictures\selfie.jpg');
    background-size:cover;
    position:relative;
}
/* text css above hero image*/
.hero_title {
    font-size: 4.5rem;
