background color: black;

border: 4px inset;

p.solid {border-style: solid;}

.navbarScroll.navbarDark {
    background-color: black;
}

.navbar {
    margin-right: 20px;
    text-align: right;
    order: 1;
    margin-top: 25px;
    height: 50px;
    font-size: x-large;
}

.navbar-expand-lg {
    flex-wrap: nowrap;
    justify-content: flex-start;
}

/* hero background image */
.img {
     width: 200px;
  height: 300px;
  object-fit: cover;
}
/* text css above hero image*/
.hero_title {
    font-size: 4.5rem;
}
.hero_desc {
    font-size: 2rem;
}
.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}



<a href="paris.jpg">
  <img src="selfie.jpg" alt="Selfie">
</a>

#contact {
    padding-bottom: 4rem;
}

.header {
    text-align: center;
    font-size: x-large;
    font-family: "Times New Roman";
    

    
