body {
  background-color: pink;
}

border: 4px inset;

p.solid {border-style: solid;}

.navbarScroll.navbarDark {
    background-color: black;
}

.navbar {
    margin-right: 20px;
    text-align: right;
    order: 1;
    margin-top: 25px;
    height: 50px;
    font-size: x-large;
    
}

a:hover {
  background-color: green;
}

.navbar-expand-lg {
    flex-wrap: nowrap;
    justify-content: flex-start;
}

/* hero background image */
img {
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
    .fill {object-fit: fill;}
}
/* text css above hero image*/
.hero_title {
    font-size: 4.5rem;
}
.hero_desc {
    font-size: 2rem;
}
.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}



<a href="module-1-website.png">
  <img src="module-1-website.jpg" alt="My First Website woth Condensed CSS!">
</a>

#contact {
    padding-bottom: 4rem;
}

.header {
    text-align: center;
    font-size: x-large;
    font-family: "Times New Roman";
    

    
